body{
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: black;
}

a{
    text-decoration: none;
}

.conteiner{
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.section{
    padding: 30px;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color:#fefae0;
}

.header{
    display: flex;
    width: 100%;
    position: relative;
}

.navbar{
    position: absolute;
    height: 60px;
    width: 1220px;
    top: 30px;
}

.two{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 186px;
}

.content{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 523px;
}

.logo{
    position: absolute;
    margin: auto;
    width: 36px;
    height: 36px;
    left: 56px;
    top: 12px;
}

.search{
    margin: auto;
    top: 25px;
    right: 245px;
    position: absolute;
    width: 80px;
    height: 20px;
}

.Up{
    width: 111px;
    height: 36px;
    font-family: 'Nunito';
    font-style: normal;
    color: #156963;
    padding: 8px 20px;
}

.In{
    padding: 8px 20px;
    width: 111px;
    height: 36px;
    font-family: 'Nunito';
    font-style: normal;
    color: #FFFFFF;
    background-color:#156963;
}

.UpIn{
    position: absolute;
    right: 56px;
    top: 25px;
}

.lines{
  display: flex;
}
.previous{
   
    padding: 38px 49px;
    background-color: white;
}

.previous>h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #156963;
}

.previous>span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;

}

.previous span::before{
    content: "←"; 
    padding-right: 7px; 
}
.next{
     padding: 38px 49px;
  background-color: #156963;
    
}

.next>h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.next>span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #F2F2F2; 
} 

.next span::after{
    content: "→"; 
    padding-right: 7px; 
}

.plant{
    width: 608px;
    height: 700px;
}

h1{
    font-style: normal;
    line-height: 83px;
    font-weight: 500;
    width: 523px;
    height: 166px;
    font-family: 'Montserrat';
    font-size: 68px;
    color: #156963; 
}

.text{
    width: 493px;
    height: 96px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2C1500;
    opacity: 0.8;
}


.info{
    display: flex;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 120px;
    height: 155px;
    margin-left: 56px;
    margin-right: 56px;
}

.card{
    width: 258px;
    height: 155px;
    margin-right: 10px;
    margin-left: 10px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;

}

.card p{
    margin: 10px 16px 21px 16px;
}

.unity{
    display: flex;
    width: 190px;
    height: 56px;
    margin: 10px;
}

.unity span{   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #156963;
    padding: 12px 5px;
}

.flowers{
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 50px;
}

.shapka{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 56px;
    margin-right: 56px;
}

.line{
    text-align: center;
}

.FP{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
}

.CP{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 17px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
}

.CP::after{
    content: "˅"; 
}

.price{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product{
    width: 215px;
    height: 215px;
    margin: 13px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.product span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 10px 13px;
}

.product p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000; 
    margin: 0 15px;
}

.help{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 186px;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 80px;
}


.relax{
      display: flex;
      justify-content: left;
      flex-wrap: wrap;
      width: 580px;
      height: 609.9px;
      align-items: flex-end;
}

.relax h6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #2C1500;
    padding-left: 79px;
}

.relax p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2C1500;
    opacity: 0.8; 
    padding-left: 79px;
}

.liana{
    display: flex;
    margin-left: 79px;
}

.shop{
    width: 1190px;
    height: 360px;
    background-color: #F3F4F6;
    margin: auto;
    display: flex;
}

.visit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 585px;
    height: 360px;
}

.visit p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #2C1500;
    padding: 88px 100px 0px 46px;
}


.click{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 152px;
    height: 40px;
    background: #156963;
    border: 1px solid #156963;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FAFEFE;
}



footer {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    height: 280px;
    padding-top: 100px;
    border-top: 1px solid #156963;
}

.firstC{
    width: 282px;
    height: 137px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-left: 56px;
  
}

.firstC h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #156963;
}

.firstC span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.firstC p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #4F4F4F;
}

.secondC{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 95px;
    height: 82px;
    gap: 20px;
}
.secondC span, .thirdC span, .fourthC span{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
}

.secondC p, .thirdC p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}


.thirdC{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    width: 95px;
    height: 82px;
}

.forthC{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    width: 199px;
    height: 16px;
}

.email{
    width: 234px;
    height: 32px;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    padding-left: 13px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.5;
    margin-top: 14px;
}

.sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;
    width: 51px;
    height: 22px;
    background: #156963;
    backdrop-filter: blur(5px);
    border-radius: 2px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 14px;
}